.editor-container {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .9);
  padding-top: 50px;
}

.editor {
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  &__character-count {
    align-self: flex-end;
  }

  &__title {
    height: 25px;
  }

  &__text-area {
    min-height: 100px;
    resize: none;
    overflow-wrap: break-word;
  }

  &__preview {
    min-height: 100px;
    border-radius: 2px;
    padding: 5px 10px;
    overflow-y: auto;
    overflow-wrap: break-word;
  }

  &__submit {
    padding: 20px 0;
  }

  &__error-message {
    margin-left: 10px;
    color: red;
  }
}
