html {
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 10pt;
  color: #cccccc;
}

b {
  color: #ffffff;
}

body {
  background-color: black;
  background-image: url('../assets/forum-bg.jpg');
  background-repeat: repeat-x;
  position: relative;
  padding-bottom: 46px;
}

a {
  color: #FFB019;
  font-weight: bold;
  font-size: 9pt;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: white;
  }

  &:visited {
    color: #B1B1B1;
  }
}

hr {
  background: rgb(71, 71, 71);
  width: 80%;
  height: 0.5px;
  border: 0;
  margin: 25px auto;
  display: block;
  clear: both;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;

  &--center {
    align-items: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

.flex-1 {
  flex: 1;
}

span.grey {
  font-family: Arial,Helvetica,Sans-Serif;
  color: #A0A1A3;
  font-size: 9pt;
}

.text-center {
  text-align: center;
}
