# secret dev configurations - api keys go here
use Mix.Config

config :myapp,
  bnet_client_id: "",
  bnet_client_secret: "",
  bnet_redirect_uri: "",

  # admin login credentials for site
  admin_accounts: [%{
    "username" => "",
    "password" => "",
    "character_name" => "",
    "character_avatar" => "",
    "permissions" => ""
  }]
