.forum-nav {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  background-image: url('../../assets/forum-nav-header-bg.gif');
  background-repeat: no-repeat;
  height: 51px;
  width: 300px;
  overflow: hidden;

  &__title {
    height: 27px;
    line-height: 27px;
  }
}
